[Desktop Entry]
Name=⭐ Persepolis Videos
Comment=Open Persepolis Folder
Exec=dolphin /home/minaco/Downloads/Persepolis/Videos/
Icon=folder-videos
Terminal=false
Type=Application
Categories=FileManager;
